example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .example-full-width {
    width: 100%;
  }
  .submit-button {
    margin-top: 20px;
    width: 100%;
}

.full-width {
    width: 100%;
}

mat-form-field {
    padding: 5px;
}

mat-panel-title {
    width: 100px;
}

mat-panel-description {
    width: 100%;
    /*height: 25px;*/
}