<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Моя бібліотека
  </h1>

  <nav class="navbar navbar-inverse navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto nav-pills nav-justified text-center">
          <li class="nav-item divider-vertical"  role="presentation">
          <a class="btn-large navbar-brand" routerLink="/books"><h1><strong><FONT SIZE=7>Books</FONT></strong></h1></a>
        </li>
        <li class="nav-item divider-vertical"  role="presentation">
          <a class="navbar-brand btn-large" routerLink="/authors"><h1><strong><FONT SIZE=7>Authors</FONT></strong></h1></a>
        </li>
        <li class="nav-item divider-vertical"  role="presentation">
          <a class="navbar-brand btn-large" routerLink="/publishers"><h1><strong><FONT SIZE=7>Publishers</FONT></strong></h1></a>
        </li>
         </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  </div>


